<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/Css/style.css" />
    <script type="text/javascript" src="Js/jquery.js"></script>
    <script type="text/javascript" src="Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="Js/bootstrap.js"></script>
    <script type="text/javascript" src="Js/ckform.js"></script>
    <script type="text/javascript" src="Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="/searchMenu" method="get" >
    菜单名称：
    <input type="text" name="menuname" id="menuname"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success" id="addnew">新增菜单</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>菜单名称</th>
        <th>GROUP</th>
        <th>MODEL</th>
        <th>ACTION</th>
        <th>状态</th>
        <th>管理操作</th>
    </tr>
    </thead>
    <tr  th:each="menu:${menu}">
        <td th:text="${menu.menuname}">机构管理</td>
        <td th:text="${menu.groupy}">Admin</td>
        <td th:text="${menu.model}">Merchant</td>
        <td th:text="${menu.action}">index</td>
        <td th:text="${menu.status}">0</td>
        <td>
            <a href="#" th:href="@{/menu/{id}/toUpdate(id=${menu.id})}" class="ui mini red basic button">编辑</a>
            <a href="#" th:href="@{/menu/{id}/delete(id=${menu.id})}" class="ui mini red basic button">删除</a>
        </td>
    </tr>
</table>

</body>
</html>
<script>
    $(function () {
       $('#addnew').click(function(){

            // window.location.href="add.html";
            self.location.href="toMenuAdd"
        });


    });

</script>